{% extends "splash/forms/base.html" %}
{{ super() }}

{% block body_content %}
<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="form-signin-heading">Kirjaudu sisään</h2>
    </div>
    <div class="row">
        <div class="col">
            <br />
            <br />
            <br />
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form class="form-signin" method="post" role="form">
            {{ form.hidden_tag() }}
            {{ form.username(id="username", class="form-control", placeholder="Käyttäjänimi", required=True, autofocus=True) }}
            {{ form.password(id="password", class="form-control", placeholder="Salasana", required=True) }}
            <button class="btn btn-lg btn-primary btn-block" type="button">Kirjaudu</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function () {
    $('button').click(function () {
        var csrf_token = "{{ csrf_token() }}";
        $.ajaxSetup({
            cache: false,
            beforeSend: function (xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this
                    .crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });
        $.ajax({
            url: "{{ url_for('login_manager.login') }}",
            data: $('form').serialize(),
            type: 'POST',
            success: function (response) {
                $(location).attr('href', "{{ url_for('index.index') }}");
            },
            error: function (error) {
                location.reload();
            }
        });
    });
});
</script>
{% endblock %}