{% extends "splash/forms/base.html" %}
{{ super() }}

{% block body_content %}
<div class="container">
    <form class="form-signin" action="/login" method="post" role="form">
        <center><h2 class="form-signin-heading">Kirjaudu sisään</h2></center>
            <br />  <br />  <br />  <br />
            <input type="username" name="username" class="form-control" placeholder="Käyttäjänimi" required autofocus>
            <p id="username_notification" style="color:red;display:none;"></p>
            <input type="password" name="password" class="form-control" placeholder="Salasana" required>
            <button class="btn btn-lg btn-primary btn-block" type="button">Kirjaudu</button>
            <script>
                $(function() {
                    $('button').click(function() {
                        $.ajax({
                            url: '/login',
                            data: $('form').serialize(),
                            type: 'POST',
                            success: function(response) {
                                $(location).attr('href', "{{ url_for('index.index') }}");
                            },
                            error: function(error) {
                                var error = JSON.parse(error.responseText);
                                var notification = $('p[id=' + error['form'] + '_notification]');
                                try {
                                    notification.css(
                                        {
                                            'display': 'inline-block'
                                        }
                                    );
                                    notification.text(error['errors'])
                                    notification.show()
                                    setTimeout(function() {
                                        notification.hide()
                                    }, 5000);
                                } catch { }
                            }
                        });
                    });
                });
            </script>
    </form>
</div>
<ul class="navbar-nav">
<li class="nav-item">
        <a class="nav-link" href="{{ url_for('login_manager.register') }}?next={{ request.path }}">Rekisteröinti(Palvelun tuottaja)</a>
    </li>
</ul>
{% endblock %}