{% extends "splash/forms/base.html" %}
{{ super() }}

{% block meta_extra %}
<!-- Index CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- ./index cdn -->
{% endblock %}

{% block body_content %}
<style>
    label {
        font-weight: bold;
        margin-top: 0.5em
    }
</style>
<!--Temporary h3 for WIP message-->
<style>
    h3 {
        color: #00A97A;
        font-size: 80%
    }
</style>
<!--Temporary h3 for WIP message-->
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
                <h1><img src="{{ url_for('static', filename='viuhka/media/logo.png') }}">Työllisyysviuhka</h1>
        </div>
        <div class="d-flex justify-content-center">
                <p style="border:none;border-bottom:1px solid green;">Työllistymistä edistäviä palveluja Turun alueella</p>
        </div>
    </div>
</div>

<div class="welcome">
    <center>
    </center>
</div>


<div class="row" style="height:50vmin;">
    <div class="col-4">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="column-title">
                        Valinnat
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control" id="" placeholder="Haku" style="border:none;border-bottom:1px solid green;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="panel-group" id="valinnatPanelGroup">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="column-title">
                        Palvelut
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary btn-lg" href="/search" role="button"
                        style="background: #00A97A;border-color: #00A97A;">
                        <i class="fa fa-caret-left"></i>
                        &nbsp; Hakuun
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a href='#'>Ilmoita virheestä</a>
                </div>
            </div>
            <div class="col">
            <div class=" d-flex justify-content-center">
                {% if current_user.is_staff() %}
                <a href="{{ url_for('admin.index') }}">Muokkaa palvelun tietoja</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}