{% extends "splash/forms/base.html" %}
{{ super() }}

{% block body_content %}
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <h1><img src="{{ url_for('static', filename='viuhka/media/logo.png') }}">Työllisyysviuhka</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p style="border:none;border-bottom:1px solid green;">Työllistymistä edistäviä palveluja Turun alueella</p>
        </div>
    </div>
</div>
<div class="wip">
    <p>Verkkosivustoamme kehitetään.</p>
    <p>Sivuston toiminnassa ja sisällössä esiintyy tämän vuoksi puutteita.</p>
    <p>Puutteet korjataan vaiheittain vuoden 2020 aikana.</p>
</div>
<div class="row">
    <div class="col-md-4" style="box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .1);">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="column-title">
                        Valinnat
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control" id="serviceSearch" placeholder="Haku"
                    style="background: transparent;border:none;border-bottom:1px solid green;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="panel-group" id="accordion">
                    {% for category in categories %}
                    {% if category.amount() >= 1 %}
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #00A97A;">
                            <h4 class="panel-title" style="background-color: #00A97A;">
                                <div class="d-flex justify-content-left font-weight-bold">
                                    <a id="cg_{{ category.category.sanitized() }}" data-toggle="collapse"
                                        data-parent="#accordion" href="#{{ category.category.sanitized() }}"
                                        style="color: white;" categoryId="{{ category.id }}">
                                        {{ category.category.name }}
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="{{ category.category.sanitized() }}" class="panel-collapse collapse">
                            {% for category_item in category.items %}
                            <div class="panel-body">
                                <a style="color: black;" href="javascript:void(0);" id="cgItem_{{ category_item.id }}"
                                    sanitized="{{ category_item.sanitized() }}" cgItemCategoryId="{{ category.id }}">
                                    {{ category_item.text }}
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col" style="box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .1);">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center" style="margin-bottom: 36px;">
                    <h2 class="column-title">
                        Palvelut
                    </h2>
                </div>
                <div id="searchSpinner">
                    <i class="fa fa-refresh ld ld-spin"></i>
                </div>
                <div id="resultSet" class="col">
                    <div class="row">
                        <p id="results"></p>
                    </div>
                    <div class="row">
                        <a id="resetFilters" href="javascript:void(0);">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col"
                        style="background: transparent;border:none;border-top:1px solid green;border-bottom:1px solid green;">
                        <table class="table table-condensed" id="serviceTable">
                            <tbody>
                                {% for service in services %}
                                {% if service.published %}
                                <tr>
                                    <td id="row_{{ service.id }}" class="{{ service.joined_sanitized() }}">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex justify-content-center">
                                                    <div class="col">
                                                        <a href="{{ url_for('index.details', id=service.id) }}">
                                                            <h2>{{ service.name }}</h2>
                                                        </a>
                                                        <p>{{ service.organization }}</p>
                                                        <p>{{ service.ingress }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a href='#'>Ilmoita virheestä</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    {% if current_user.is_staff() %}
                    <a href="{{ url_for('admin.index') }}">Muokkaa palvelun tietoja</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var spinner = $('#searchSpinner');
        var rows = $('#serviceTable tr');
        var results = $('#results');

        $(spinner).hide();

        setInterval(function () {
            results.text($('td:visible').length + ' results out of {{ total }}');
        }, 125);

        $('#serviceSearch').on('keyup', function () {
            $(spinner).show();
            var search = $(this).val().toUpperCase();
            for (i = 0; i < rows.length; i++) {
                td = rows[i].getElementsByTagName('td')[0];
                title = td.getElementsByTagName('h2')[0];
                if (~title.innerText.toUpperCase().indexOf(search)) {
                    $(td).show(25);
                } else {
                    $(td).hide();
                }
            }
            rows = $('#serviceTable tr');
            $('a[id=resetFilters').text('Poista hakusuodattimet');
            $('a[id=resetFilters').show();
            setTimeout(function () {
                $(spinner).hide();
            }, 375);
        });

        $('a[id^=cg_').on('click', function () {
            if (!$(this).attr('aria-expanded') || $(this).attr('aria-expanded') === 'false') {
                $(spinner).show();
                var found = []
                var categoryItems = $('a[cgItemCategoryId^=' + $(this).attr('categoryId') + ']');
                $(categoryItems).each(function (idx, val) {
                    for (i = 0; i < rows.length; i++) {
                        td = rows[i].getElementsByTagName('td')[0];
                        if (td) {
                            if ($(td).hasClass($(val).attr('sanitized'))) {
                                found.push($(td));
                            }
                            $(td).hide();
                        }
                    }
                });
                found.forEach(function (idx, val) {
                    $(found[val]).show(11);
                });
                setTimeout(function () {
                    $(spinner).hide();
                }, 375);
                $('a[id=resetFilters').text('Poista hakusuodattimet');
                $('a[id=resetFilters').show();
            } else {
                $('a[id=resetFilters]').click();
            }
        });
        $('a[id^=cgItem_]').on('click', function () {
            var found = []
            $(this).each(function (idx, val) {
                for (i = 0; i < rows.length; i++) {
                    td = rows[i].getElementsByTagName('td')[0];
                    if (td) {
                        if ($(td).hasClass($(val).attr('sanitized'))) {
                            found.push($(td));
                        }
                        $(td).hide();
                    }
                }
            });
            found.forEach(function (idx, val) {
                $(found[val]).show(11);
            });
            $('a[id=resetFilters').text('Poista hakusuodattimet');
            $('a[id=resetFilters').show();

        });
        $('a[id=resetFilters]').on('click', function () {
            $(this).hide();
            var rows = $('#serviceTable tr');
            for (i = 0; i < rows.length; i++) {
                td = rows[i].getElementsByTagName('td')[0];
                if (td) {
                    $(td).show();
                }
            }
            $('#serviceSearch').val('');
        });
    });
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>
{% endblock %}