{% extends "splash/forms/base.html" %}
{{ super() }}

{% block meta_extra %}
<!-- Index CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<!-- ./index cdn -->
{% endblock %}

{% block body_content %}
<style>
    label {
        font-weight: bold;
        margin-top: 0.5em
    }
</style>
<!--Temporary h3 for WIP message-->
<style>
    h3 {
        color: #00A97A;
        font-size: 80%;
        text-align: center
    }
</style>
<!--Temporary h3 for WIP message-->
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <h1  style="color:#00A97A;"><img src="{{ url_for('static', filename='viuhka/media/logo.png') }}">Työllisyysviuhka</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p style="border:none;border-bottom:1px solid green;">Työllistymistä edistäviä palveluja Turun alueella</p>
        </div>
    </div>
</div>
<h3> Verkkosivustoamme kehitetään.</h3> 
<h3>  Sivuston toiminnassa ja sisällössä esiintyy tämän vuoksi puutteita.</h3>
<h3>  Puutteet korjataan vaiheittain vuoden 2019 aikana.</h3>

<div class="row">
    <div class="col" style="box-shadow: -2px 2px 28px -6px rgba(117,117,117,1);">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="column-title">
                        Valinnat
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input class="form-control" id="" placeholder="Haku"
                    style="background: transparent;border:none;border-bottom:1px solid green;">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="panel-group" id="accordion">
                    {% for category in categories %}
                    {% if category.amount() >= 1 %}
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #00A97A;">
                            <h4 class="panel-title" style="background-color: #00A97A;">
                                <div class="d-flex justify-content-center">
                                    <a data-toggle="collapse" data-parent="#accordion"
                                        href="#{{ category.category.name.replace(' ','').replace('-','').strip().lower() }}"
                                        style="color: white;">
                                        {{ category.category.name }}
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="{{ category.category.name.replace(' ','').replace('-','').strip().lower() }}"
                            class="panel-collapse collapse">
                            {% for category_item in category.items %}
                            <div class="panel-body">
                                {{ category_item.text }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col" style="box-shadow: -2px 2px 28px -6px rgba(117,117,117,1);">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center" style="margin-bottom: 36px;">
                    <div class="column-title">
                        Palvelut
                    </div>
                </div>
                <div class="row">
                    <div class="col"
                        style="background: transparent;border:none;border-top:1px solid green;border-bottom:1px solid green;">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <p>Aaaa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary btn-lg" href="/search" role="button"
                        style="background: #00A97A;border-color: #00A97A;">
                        <i class="fa fa-caret-left"></i>
                        &nbsp; Hakuun
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a href='#'>Ilmoita virheestä</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    {% if current_user.is_staff() %}
                    <a href="{{ url_for('admin.index') }}">Muokkaa palvelun tietoja</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}