{% extends 'admin/index.html' %}
{{ super() }}

{% if current_user.rank().level < 2 %}
{% if current_user.is_staff() %}
{{ redirect(url_for('admin.index')) }}
{% else %}
{% endif %}
{% endif %}

{% block body_content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form id="editCategory" role="form" method="post" action="">
                        <div class="row">
                            <div class="col-md-1 px-md-1"></div>
                            <div class="col-md-1 px-md-1"></div>
                            <div class="col-md-8 px-md-2">
                                <p>Kategoria tiedot</p>
                                <br>
                                <div class="form-group row">
                                    <label for="id" class="col-sm-2 col-form-label">ID</label>
                                    <div class="col-sm-10">
                                        {% if current_user.rank().level < 2 %}
                                        {{ form.id(id="id", placeholder=category.id, class="form-control", disabled=True) }}
                                        {% else %}
                                        {{ form.id(id="id", value=category.id, class="form-control") }}
                                        {% endif %}
                                    </div>
                                    <label for="name" class="col-sm-2 col-form-label">Nimi</label>
                                    <div class="col-sm-10">
                                        {% if current_user.rank().level < 2 %}
                                        {{ form.name(id="name", placeholder=category.name, class="form-control", disabled=True) }}
                                        {% else %}
                                        {{ form.name(id="name", value=category.name, class="form-control") }}
                                        {% endif %}
                                        <span>
                                            <p id="name_notification" style="color:red;display:none;"></p>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-sm-2 col-form-label">Objektit</label>
                                    <div class="col-sm-9">
                                        <select id="categoryItems" name="items" multiple class="form-control">
                                            {% for item in category.items %}
                                            <option>{{ item.text }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="#" data-toggle="modal" data-target="#addCategoryItem" role="button">
                                            <i class="tim-icons icon-simple-add"></i>
                                        </a>
                                        <a href="#" id="deleteCategoryItem">
                                            <i class="tim-icons icon-trash-simple"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 px-md-1"></div>
                            <div class="col-md-3 px-md-1"></div>
                            <div class="col-md-1 px-md-1"></div>
                            <div class="col-md-2 px-md-6">
                                <button type="submit" class="btn btn-fill btn-info">Tallenna</button>
                            </div>
                        </div>
                        <div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "admin/pages/categories/modal.html" %}

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $('#deleteCategoryItem').click(function () {
            var url = "{{ url_for('category.category_item', id=category.id, type='delete') }}".replace(
                '&amp;', '&');
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                cache: false,
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this
                        .crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    categoryItems: $("#categoryItems").val()
                },
                success: function () {
                    location.reload();
                }
            })
        });
        $('#addNewCategoryItem').on('submit', function () {
            var url = "{{ url_for('category.category_item', type='add', id=category.id) }}".replace(
                '&amp;', '&');
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                cache: false,
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this
                        .crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: url,
                data: $(this).serialize(),
                success: function () {
                    location.reload()
                }
            });
        });
        $('#editCategory').submit(function (event) {
            event.preventDefault();
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                cache: false,
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this
                        .crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: "{{ url_for('category.category', type='edit') }}",
                data: $(this).serialize(),
                success: function () {
                    $(location).attr('href', '{{ url_for("category.categories") }}')
                }
            });
        });
    });
</script>
{% endblock %}