{% extends 'admin/index.html' %}
{{ super() }}

{% block body_content %}
<div class="container">
    {% if amount() > 1 %}
    <h1>Löytyi {{ amount() }} kategoriaa.</h1>
    {% elif amount() == 1 %}
    <h1>Löytyi {{ amount() }} kategoria.</h1>
    {% else %}
    <h1>Käyttäjiä ei ole vielä lisätty.</h1>
    {% endif %}
    <div class="table-responsive text-nowrap">
        <td><a class="btn-info btn" href="{{ url_for('category.category', type='new') }}" role="button">Lisää kategoria</a></td>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nimi</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories() %}
                <tr>
                    <th scope="row">{{ category.id }}</th>
                    <th>{{ category.category.name }}</th>
                    <th>
                    <td><a href="{{ url_for('category.category', type='edit', id=category.id) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('category.category', type='delete', id=category.id) }}">
                            <i class="tim-icons icon-trash-simple"></i>
                        </a>
                    </td>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}