{% extends "admin/index.html" %}
{{ super() }}

{% block body_content %}
<div class="content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <form id="addService" role="form" method="post" action="">
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <h1> Service Information </h1>
                <div class="form-group">
                  {{ form.ptv_service_id(id="ptv_service_id", placeholder="PTV Service ID", class="form-control", value="", required=True) }}
                  {{ form.ptv_service_channel_id(id="ptv_service_channel_id", placeholder="PTV Service Channel ID", class="form-control", value="", required=True) }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <div class="form-group">
                  {{ form.search_result_priority(id="search_result_priority", placeholder="Search result priority", class="form-control", value="", required=True) }}
                </div>
              </div>
            </div>
            </br>
            </br>
            </br>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <p> Information </p>
                <div class="form-group">
                  {{ form.name(id="name", placeholder="Name", class="form-control", value="", required=True) }}
                </div>
              </div>
            </div>
            <div class="form-group">
              {{ form.organization(id="organization", placeholder="Organization", class="form-control", value="", required=True) }}
              {{ form.ingress(id="ingress", placeholder="Ingress", class="form-control", value="", required=True) }}
            </div>


            <p>Description</p>
            <div class="form-group">
              {{ form.description(id="description", placeholder="Description", class="form-control", value="", required=True) }}
              {{ form.description2(id="description2", placeholder="Description2", class="form-control", value="") }}
              {{ form.description3(id="description3", placeholder="Description3", class="form-control", value="") }}
              {{ form.description4(id="description4", placeholder="Description4", class="form-control", value="") }}
            </div>
            <br />
            <br />
            <br />
            <br />

            <p>Provider information</p>
            <div class="form-group">
              {{ form.provider(id="provider", placeholder="Provider", class="form-control", value="", required=True) }}
              {{ form.benefit_effect(id="benefit_effect", placeholder="Benefit Effect", class="form-control", value="", required=True) }}
              {{ form.constraint(id="description4", placeholder="Constraint", class="form-control", value="", required=True) }}
            </div>
            <br />
            <br />


            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <p> Start/End </p>
                <div class="form-group">
                  {{ form.start(id="start", placeholder="Start", class="form-control", value="") }}
                  {{ form.end(id="end", placeholder="End", class="form-control", value="") }}
                </div>
              </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <p> Address information </p>
            <div class="form-group">
              {{ form.address(id="address", placeholder="Address", class="form-control", value="", required=True) }}
              {{ form.address_extended(id="address_extended", placeholder="Address Extended", class="form-control", value="") }}
              {{ form.post_address(id="post_address", placeholder="Post Address", class="form-control", value="") }}
            </div>
            <br />
            <br />
            <p> Contact information </p>
            <div class="form-group">
              {{ form.contact_person(id="contact_person", placeholder="Contact Person", class="form-control", value="", required=True) }}
              {{ form.contact_person_phone(id="contact_person_phone", placeholder="Contact Person Phone", class="form-control", value="", required=True) }}
              {{ form.contact_email(id="contact_email", placeholder="Contact Email", class="form-control", value="", required=True) }}
            </div>
            <br />
            <br />
            <p> Social Media </p>
            <div class="form-group">
              {{ form.www(id="www", placeholder="www", class="form-control", value="") }}
              {{ form.facebook(id="facebook", placeholder="Facebook", class="form-control", value="") }}
              {{ form.twitter(id="twitter", placeholder="Twitter", class="form-control", value="") }}
            </div>
            <p> Categories </p>
            <div class="form-group row">
              <label for="name" class="col-sm-2 col-form-label">Items</label>
              <div class="col-sm-9">
                <select id="selectedCategoryItems" name="items" multiple class="form-control">
                </select>
              </div>
              <div class="col-sm-1">
                <a href="#" data-toggle="modal" data-target="#selectCategories" role="button">
                  <i class="tim-icons icon-simple-add"></i>
                </a>
                <a href="#" id="deleteCategoryItem">
                  <i class="tim-icons icon-trash-simple"></i>
                </a>
              </div>
            </div>
            <style>
              input[type=checkbox] {
                -ms-transform: scale(.5);
                /* IE */
                -moz-transform: scale(.5);
                /* FF */
                -webkit-transform: scale(.5);
                /* Safari and Chrome */
                -o-transform: scale(.5);
                /* Opera */
                padding: 10px;
              }
            </style>
            <label for="published" class="col-sm-10 col-form-label">Published</label>
            <div class="col-sm-1">
              {{ form.published(id="published",placeholder="Published",class="form-control", value="") }}
              <span>
                <p id="published_notification" style="color:red;display:none;"></p>
              </span>
            </div>
            <label for="open_ended" class="col-sm-10 col-form-label">Open ended</label>
            <div class="col-sm-1">
              {{ form.open_ended(id="open_ended",placeholder="Open ended",class="form-control", value="") }}
              <span>
                <p id="open_ended_notification" style="color:red;display:none;"></p>
              </span>
            </div>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-3 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-6">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "admin/pages/services/modal.html" %}
{% endblock %}

{% block scripts %}
<script>
  $('#addService').unbind('submit').submit(function (event) {
    $.ajax({
      type: 'POST',
      url: "{{ url_for('service.service', type='add') }}",
      data: $(this).serialize()
    });
  });
</script>
{% endblock %}