{% extends "admin/index.html" %}
{{ super() }}

{% block body_content %}
<div class="content">
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <form id="addService" role="form" method="post" action="">
              {{ form.csrf_token }}
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <h1>Lisää palvelu</h1>
                <div class="form-group">
                  {{ form.ptv_service_id(id="ptv_service_id", placeholder="PTV Service ID", class="form-control", value="") }}
                  {{ form.ptv_service_channel_id(id="ptv_service_channel_id", placeholder="PTV Service Channel ID", class="form-control", value="") }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <div class="form-group">
                  {{ form.search_result_priority(id="search_result_priority", placeholder="Search result priority", class="form-control", value="") }}
                </div>
              </div>
            </div>
            </br>
            </br>
            </br>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <p>Palvelun nimi*</p>
                <div class="form-group">
                  {{ form.name(id="name", placeholder="Nimi", class="form-control", value="", required=True) }}
                </div>
              </div>
            </div>
            <p>Palvelun toteuttaja*</p>
            <div class="form-group">
              {{ form.organization(id="organization", placeholder="Organisaatio", class="form-control", value="", required=True) }}
            </div>
            <p>Tiivistelmä*</p>
            <div class="form-group">
              {{ form.ingress(id="ingress", placeholder="Ingress", class="form-control", value="", required=True) }}
            </div>


            <p>Kuvaus*</p>
            <div class="form-group">
              {{ form.description(id="description", placeholder="Kuvaus", class="form-control", value="", required=True) }}
              {{ form.description2(id="description2", placeholder="Description2", class="form-control", value="") }}
              {{ form.description3(id="description3", placeholder="Description3", class="form-control", value="") }}
              {{ form.description4(id="description4", placeholder="Toimintaohjeet", class="form-control", value="") }}
            </div>
            <br />
            <br />
            <br />
            <br />

            <p>Toimija</p>
            <div class="form-group">
              {{ form.provider(id="provider", placeholder="Toimija", class="form-control", value="") }}
            </div>
            <p>Vaikuttaako tukiin</p>
            <div class="form-group">
              {{ form.benefit_effect(id="benefit_effect", placeholder="Vaikuttaako tukiin", class="form-control", value="") }}
            </div>
            <p>Palvelun rajaukset</p>
            <div class="form-group">
              {{ form.constraint(id="description4", placeholder="Palvelun rajaukset", class="form-control", value="") }}
            </div>
            <br />
            <br />


            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-5 px-md-1">
                <p> Toiminta päättyy/alkaa </p>
                <div class="form-group">
                  {{ form.start(id="start", class="form-control", value="") }}
                  {{ form.end(id="end", class="form-control", value="") }}
                </div>
              </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <p>Katuosoite</p>
            <div class="form-group">
              {{ form.address(id="address", placeholder="Katuosoite", class="form-control", value="") }}
            </div>
            <p>Osoitteen tarkennus</p>
            <div class="form-group">
              {{ form.address_extended(id="address_extended", placeholder="Osoitteen tarkennus", class="form-control", value="") }}
            </div>
            <p>Postiosoite</p>
            <div class="form-group">
              {{ form.post_address(id="post_address", placeholder="Postiosoite", class="form-control", value="") }}
            </div>
            <br />
            <br />
            <p>Yhteyshenkilön tiedot</p>
            <div class="form-group">
              {{ form.contact_person(id="contact_person", placeholder="Yhteyshenkilö", class="form-control", value="") }}
              {{ form.contact_person_phone(id="contact_person_phone", placeholder="Puhelinnumero", class="form-control", value="") }}
              {{ form.contact_email(id="contact_email", placeholder="Sähköposti", class="form-control", value="") }}
            </div>
            <br />
            <br />
            <p> Social Media</p>
            <div class="form-group">
              {{ form.www(id="www", placeholder="Verkkosivu", class="form-control", value="") }}
              {{ form.facebook(id="facebook", placeholder="Facebook", class="form-control", value="") }}
              {{ form.twitter(id="twitter", placeholder="Twitter", class="form-control", value="") }}
            </div>
            <p> Kategoriat </p>
            <div class="form-group row">
              <label for="category_items" class="col-sm-2 col-form-label"></label>
              <div class="col-sm-9">
                <select id="category_items" name="category_items" multiple class="form-control">
                </select>
              </div>
              <div class="col-sm-1">
                <a href="#" data-toggle="modal" data-target="#selectCategories" role="button">
                  <i class="tim-icons icon-simple-add"></i>
                </a>
                <a href="#" id="deleteCategoryItem">
                  <i class="tim-icons icon-trash-simple"></i>
                </a>
              </div>
            </div>
            <div class="form-group row">
              <label for="published" class="col-sm-1 col-form-label">Julkaistu</label>
              <div class="col-sm-1">
                {{ form.published(id="published",placeholder="Published",class="form-control sane", value="") }}
                <span>
                  <p id="published_notification" style="color:red;display:none;"></p>
                </span>
              </div>
              <div class="col-md-5"></div>
              <div class="col-md-5"></div>
              <label for="open_ended" class="col-sm-1 col-form-label">Voimassa toistaiseksi</label>
              <div class="col-sm-1">
                {{ form.open_ended(id="open_ended",placeholder="Open ended",class="form-control sane", value="") }}
                <span>
                  <p id="open_ended_notification" style="color:red;display:none;"></p>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-3 px-md-1"></div>
              <div class="col-md-1 px-md-1"></div>
              <div class="col-md-1 px-md-6">
                <button type="submit" class="btn btn-fill btn-primary">Tallenna</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "admin/pages/services/modal.html" %}
{% endblock %}

{% block scripts %}
<script>
  $('#dateTimePicker').on('click', function (event) {
    event.preventDefault();
    $('timePicker').show();
  });
  $('#selectCategoryForm').on('submit', function (event) {
    event.preventDefault();
    $(this).serializeArray().forEach(function (i, k) {
      if ($('#' + i.value.split(' ').join('')).length == 0) {
        $('#category_items').append(
          '<option id=' + i.value.split(' ').join('') + ' selected>' + i.value + '</option>'
        );
      }
    });
    setTimeout(function () {
      $('#selectCategories').modal('hide');
    }, 125);
  });
  $('#deleteCategoryItem').on('click', function (event) {
    event.preventDefault();
    $('#category_items option:selected').remove();
  });

  $('#addService').submit(function (event) {
    event.preventDefault();
    var items = $('#category_items option');
    for (i = 0; i < items.length; i++) {
      $(items[i]).prop('selected', true);
    }
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
      cache: false,
      beforeSend: function (xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });
    $.ajax({
      type: 'POST',
      url: "{{ url_for('service.service', type='add') }}",
      data: $(this).serialize(),
      success: function () {
        $(location).attr('href', '{{ url_for("service.services") }}')
      },
      error: function () {
        location.reload();
      }
    });
  });
</script>
{% endblock %}