<div class="modal fade" id="selectCategories" tabindex="-1" role="dialog" aria-labelledby="selectCategories"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background: #27293d;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="selectCategoryForm">
                <h5 style="color: chartreuse;" class="d-flex justify-content-center">Pidä Ctrl pohjassa valitaksesi useampi samasta kategoriasta.</h5>
                <div class="modal-body">
                <div class="container-fluid">
                    <div class="form-group row">
                        {% for category in categories() %}
                        {% if category.amount() >= 1 %}
                        <label for="name" class="col-sm-10 col-form-label">{{ category.name }}</label>
                        <div class="col-sm-9">
                            <select id="categoryItems" name="items" multiple class="form-control">
                                {% for item in category.items %}
                                <option>{{ item.text }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <a href="#" data-toggle="modal" data-target="#selectCategory" role="button">
                                <i class="tim-icons icon-simple-add"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Tallenna</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>