{% extends 'admin/index.html' %}
{{ super() }}


{% block body_content %}
<div class="container">
    {% if amount() == 0 %}
    <h1>Yhtään palvelua ei ole vielä lisätty.</h1>
    {% elif amount() == 1 %}
    <h1>Löytyi {{ amount() }} palvelua.</h1>
    {% else %}
    <h1>Löytyi {{ amount() }} palvelua.</h1>
    {% endif %}
    <div class="table-responsive-md text-nowrap">
        <td><a class="btn-info btn" href="{{ url_for('service.service', type='new') }}" role="button">Lisää palvelu</a></td>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nimi</th>
                    <th scope="col">Luoja</th>
                    <th scope="col">Luonnin aika</th>
                    <th scope="col">Julkaistu</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services() %}
                <tr>
                    <th scope="row">{{ service.id }}</th>
                    <th>{{ service.name }}</th>
                    <th>{{ service.organization }}</th>
                    <th>{{ service.created.replace(microsecond=0) }}</th>
                    {% if service.published %}
                    <th>Yes</th>
                    {% else %}
                    <th>No</th>
                    {% endif %}
                    <td>
                    <td><a href="{{ url_for('service.service', type='edit', id=service.id) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a></td>
                    <td>
                        <a href="{{ url_for('service.service', type='delete', id=service.id) }}">
                            <i class="tim-icons icon-trash-simple"></i>
                        </a>
                    </td>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}