{% extends 'admin/index.html' %}
{{ super() }}


{% block body_content %}
<div class="container">
    {% if amount() > 1 %}
    <h1>Löytyi {{ amount() }} palvelua.</h1>
    {% elif amount() == 1 %}
    <h1>Löytyi {{ amount() }} palvelu.</h1>
    {% else %}
    <h1>Käyttäjiä ei ole vielä lisätty.</h1>
    {% endif %}
   
        <td><a class="btn-info btn" href="{{ url_for('service.service', type='new') }}" role="button">Lisää palvelu</a></td>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nimi</th>
                    <th scope="col">Luoja</th>
                    <th scope="col">Luonnin aika</th>
                    <th scope="col">Julkaistu</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services.items %}
                <tr>
                    <th scope="row">{{ service.id }}</th>
                    <th>{{ service.name }}</th>
                    <th>{{ service.organization }}</th>
                    <th>{{ service.created.replace(microsecond=0) }}</th>
                    {% if service.published %}
                    <th>Kyllä</th>
                    {% else %}
                    <th>Ei</th>
                    {% endif %}                   
                    <td><a href="{{ url_for('service.service', type='edit', id=service.id) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a></td>
                    <td>
                        <a href="{{ url_for('service.service', type='delete', id=service.id) }}">
                            <i class="tim-icons icon-trash-simple"></i>
                        </a>
                    </td>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <i class="fa fa-address-book">
        {% for page_num in services.iter_pages() %}
            {% if page_num %}
                <a href="{{ url_for('service.services', page=page_num) }}" class="btn btn-link">{{ page_num }}</a>
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        </i>
    </div>
</div>
<script>
$(document).ready(function () {
  $('#dtBasicExample').DataTable({
    "pagingType": "simple_numbers" // "simple" option for 'Previous' and 'Next' buttons only
  });
  $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}