body {
  font-size: 16px;
  width: 100%;
  padding-top: 3.5rem; }

a {
  color: #337ab7; }

nav {
  border-bottom: 1px solid black;
  background-color: #292b2c;
  padding-left: 0;
  padding-right: 0; }
  nav a.nav-link {
    color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 600px) {
    nav li.nav-item {
      border-bottom: 1px solid white; } }
  nav li.nav-item:last-child {
    border-bottom: none; }
  nav a.navbar-brand {
    color: white;
    font-size: 120%;
    font-weight: bold; }

main {
  min-height: 600px; }

footer .main-footer.row {
  background-color: #292b2c; }
  footer .main-footer.row .container {
    color: white; }

footer .main-footer .footer-brand {
  padding-top: 10px; }

footer .main-footer .footer-links {
  float: right;
  padding-top: 10px; }
  footer .main-footer .footer-links ul {
    list-style: none;
    margin: 0; }
    footer .main-footer .footer-links ul li {
      float: left; }
      footer .main-footer .footer-links ul li:before {
        content: '|'; }
      footer .main-footer .footer-links ul li:first-child:before {
        content: ''; }
      footer .main-footer .footer-links ul li a {
        padding: 5px;
        color: rgba(255, 255, 255, 0.5); }

form.form-signin input {
  margin-bottom: 5px; }

.top_container .logo-smalltext {
  border: none;
  border-bottom: 1px solid green; }

.top_container img {
  height: 48px;
  width: 48px;
  align-self: center; }
  @media (max-width: 600px) {
    .top_container img {
      display: none; } }
.top_container h1 {
  font-size: 3rem; }

main .wip {
  line-height: normal;
  font-size: smaller;
  color: #00A97A;
  text-align: center;
  word-break: break-word; }

.sidebar input.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid green;
  padding: 0; }

.sidebar .card {
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1); }
  .sidebar .card-columns {
    column-count: 1; }
  .sidebar .card-header {
    background-color: #00A97A;
    color: white; }
    .sidebar .card-header.active a::before {
      transform: rotate(90deg); }
    .sidebar .card-header a {
      color: white; }
      .sidebar .card-header a::before {
        font-family: 'Times New Roman', Times, serif;
        transition: all 0.01s;
        content: "\25B6";
        float: left;
        margin-right: 10px; }
  .sidebar .card-title-text {
    font-size: 16px;
    margin-bottom: 0; }
  .sidebar .card-body {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; }
  .sidebar .card-content ul {
    list-style: none; }
    .sidebar .card-content ul li.list-group-item.service {
      padding: 15px; }
      .sidebar .card-content ul li.list-group-item.service a {
        color: black;
        text-decoration: none; }
        .sidebar .card-content ul li.list-group-item.service a:hover {
          text-decoration: underline; }

.sidebar .accordion-container {
  padding-bottom: 10px; }

#main_container_row {
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.1); }

main.container {
  padding-top: 20px; }

#results {
  margin: 0; }

.main-content.col {
  word-break: break-word; }

.main-content .col.table-container {
  background: transparent;
  border: none;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.1); }
  .main-content .col.table-container table td.first-result {
    border-top: none; }

/*# sourceMappingURL=index.scss.css.map */