<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    <title>Työllistymistä edistävät palvelut {% block title %}{% endblock %}</title>
    <!-- Fav Icon -->
    <link href="{{ url_for('static', filename='viuhka/media/favicon.ico') }}" rel="shortcut icon" />
    <!-- Load css -->
    <link href="{{ url_for('static', filename='viuhka/styles/shepherd-theme-arrows.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/theme.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='viuhka/styles/starter-template.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index.scss.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/employment.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/loading.io/loading.css') }}" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
{% endblock %}
{% block body %}
<body>
    <!-- navbar -->
    
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ FORCE_SCRIPT_NAME }}/">Työllisyysviuhka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle naviation">
                <span class="navbar-toggler-icon"></span>
        </button>
        
                
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="nav-container w-100">
                <ul class="nav navbar-nav mr-asduto navbar-lesft pxs-2 nav-fill">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('service.list_service') }}">Lista palveluista</a>
                    </li>
          <!--      </ul>
                <ul class="nav navbar-nav mr-autso navbar-left px-2">-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.provider_info') }}">Lisää palvelu</a>
                    </li>
                    {% endif %}
           <!--     </ul>
                <ul class="nav navbar-nav mr-autso navbar-left px-2 ">-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.info') }}">Tietoa käyttäjälle</a>
                    </li>
              <!--  </ul>
                <ul class="nav navbar-nav mr-autso navbar-left px-2 ">-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.contact') }}">Tietoa palvelutuottajalle</a>
                    </li>
            <!--    </ul> -->
                    {% if current_user.is_authenticated %}
            <!--     <ul class="nav navbar-nav navbar-right px-2">-->
                    <li class="nav-item" style="float:right;">
                        <a class="nav-link" href="{{ url_for('login_manager.logout') }}?next={{ request.path }}">{{ current_user.username }} (Kirjaudu ulos)</a>
                    </li>
            <!--    </ul>  -->
                    {% else %}
             <!--   <ul class="nav navbar-nav navbar-right px-2">-->
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_manager.login') }}?next={{ request.path }}">Kirjaudu sisään(palveluntuottaja)</a>
                    </li>
                </ul>
                {% endif %}
                </div>
            </div>
        
    </nav>
    
    
    <!-- ./navbar -->
    <main class="container">
    {% block body_content %}
    {% endblock %}
    </main>
    {% block footer %}
    <!-- Footer -->
    {% block footer_context %}
    {% endblock %}
    <div class="footer" style="background-color: #292b2c;">
        <div class="container" style="color:white;">
            <br />
            <span style="float:right">
                  <a class="navi-link" href="{{ url_for('index.info') }}">Tietoa sivustosta</a>
                | <a class="navi-link" href="https://www.turku.fi/tietosuoja">Rekisteriseloste</a>
                | <a class="navi-link" href="https://www.turku.fi/tietosuoja">Tietosuoja</a>
                | <a class="navi-link" href="{{ url_for('index.saavutettavuus') }}">Saavutettavuus</a>
                | <a class="navi-link" href="mailto:viuhka@turku.fi">Palaute</a>
                | <a class="navi-link" href="http://data.turku.fi/">Avoin data</a>
            </span>
            <b>Työllisyysviuhka</b>
            <br>
            <img src="{{ url_for('static', filename='viuhka/media/turkulogo.svg') }}" height="72">
            <br>
            &nbsp;
        </div>
    </div>
    <footer>
        <div class="container">
            <br>
            <img width="100%" src="{{ url_for('static', filename='viuhka/media/alalogot.png') }}">
        </div>
    </footer>
    <!-- ./footer -->
    {% endblock %}




    <!-- Load scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ url_for('static',filename='viuhka/styles/bootstrap4/js/bootstrap.min.js') }}"></script>
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
    <script src="https://pagination.js.org/dist/2.1.4/pagination.min.js"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/tether.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/shepherd.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u = "//wwwstats2.turku.fi/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSideId', 19]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//wwwstats2.turku.fi/piwik/piwik.php?idside=19" style="border:0;" alt="" /></p></noscript>
</body>
{% endblock %}
</html>