<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    {% block meta_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    <title>Työllistymistä edistävät palvelut {% block title %}{% endblock %}</title>
    <!-- Fav Icon -->
    <link href="{{ url_for('static', filename='viuhka/media/favicon.ico') }}" rel="shortcut icon" />
    <!-- Load css -->
    <link href="{{ url_for('static', filename='viuhka/styles/shepherd-theme-arrows.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/bootstrap4/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/starter-template.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/index.scss.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='viuhka/styles/employment.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='vendor/loading.io/loading.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
{% endblock %}
{% block body %}
<body>
    <!-- navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{ FORCE_SCRIPT_NAME }}/">Työllisyysviuhka</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle naviation">
                <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="nav-container w-100">
                <ul class="nav navbar-nav mr-autso navbar-let psx-2 nav-fill">
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('service.list_service') }}">Lista palveluista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index.provider_info') }}">Lisää palvelu</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.info') }}">Tietoa käyttäjälle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index.contact') }}">Tietoa palvelutuottajalle</a>
                    </li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item" style="float:right;">
                            <a class="nav-link" href="{{ url_for('login_manager.logout') }}?next={{ request.path }}">{{ current_user.username }} (Kirjaudu ulos)</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login_manager.login') }}?next={{ request.path }}">Kirjaudu sisään(palveluntuottaja)</a>
                        </li>
                </ul>
                {% endif %}
                </div>
            </div>
    </nav>

    <!-- ./navbar -->
    <main class="container">
    {% block body_content %}
    {% endblock %}
    </main>
    {% block footer %}
    <!-- Footer -->
    {% block footer_context %}
    {% endblock %}
    <footer class="container-fluid">
        <div class="main-footer row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3">
                        <div class="row">
                            <div class="col footer-brand">
                                <b>Työllisyysviuhka</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <br>
                                <img src="{{ url_for('static', filename='viuhka/media/turkulogo.svg') }}" height="72">
                                <br>
                                &nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9">
                        <div class="footer-links">
                            <ul>
                                <li><a href="{{ url_for('index.info') }}">Tietoa sivustosta</a></li>
                                <li><a href="https://www.turku.fi/tietosuoja">Rekisteriseloste</a></li>
                                <li><a href="https://www.turku.fi/tietosuoja">Tietosuoja</a></li>
                                <li><a href="{{ url_for('index.saavutettavuus') }}">Saavutettavuus</a></li>
                                <li><a href="mailto:viuhka@turku.fi">Palaute</a></li>
                                <li><a href="http://data.turku.fi/">Avoin data</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <img width="100%" src="{{ url_for('static', filename='viuhka/media/alalogot.png') }}">
            </div>
        </div>
    </footer>
    <!-- ./footer -->
    {% endblock %}




    <!-- Load scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{{ url_for('static',filename='viuhka/styles/bootstrap4/js/bootstrap.min.js') }}"></script>
    <script src="https://pagination.js.org/dist/2.1.4/pagination.min.js"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/tether.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/shepherd.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='viuhka/scripts/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u = "//wwwstats2.turku.fi/piwik/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSideId', 19]);
        var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
        g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//wwwstats2.turku.fi/piwik/piwik.php?idside=19" style="border:0;" alt="" /></p></noscript>
</body>
{% endblock %}
</html>