{% extends 'splash/forms/base.html' %}
{{ super() }}

{% block body_content %}
<center>
<h1 style="color:#00A97A;">Yhteystiedot</h1>
    <p>Työllisyysviuhkan avulla voit etsiä työttömälle työnhakijalle tarkoitettuja palveluita yhdestä paikasta.
        Olemme keränneet palveluita Turun alueen palvelutuottajilta kuten Turun kaupungilta, TE-toimistolta sekä
        kolmannen sektorin toimijoilta.
    </p>
    <p>Työllisyysviuhkaa kehitetään parhaillaan ja olemme kiitollisia kaikesta saamastamme palautteesta, sekä
        kehitysideoista, joilla voimme tehdä viuhkasta entistä paremmin palvelevan. Yhteyttä voit ottaa meihin alla
        olevan sähköpostiosoitteen kautta.
    </p>
    <p>
        Ota myös <a href="mailto:viuhka@turku.fi">yhteyttä</a> mikäli haluat päästä lisäämään palvelusi osaksi Työllisyysviuhkaa.</a>
    </p>
</center>
{% endblock %}