{% extends 'splash/forms/base.html' %}
{{ super() }}

{% block body_content %}
    <h2><label>Kiitos!</label></h2>
    <p>Palvelun tiedot siirtyvät Palveluviuhkan verkkosivuille, kun ylläpitäjä on tarkistanut ja hyväksynyt tiedot.</p>
    <p>Muistathan jatkossa käydä Palveluviuhkan verkkosivuilla päivittämässä palvelun tietoja, jos palvelussa tapahtuu
        muutoksia. Muista myös päivittää verkko-osoitteiden linkit, jos ne muuttuvat.</p>
    <p>Mikäli myöhemmin haluat poistaa palvelun tiedot kokonaan Palveluviuhkan verkkosivuilta, lähetä asiasta
        sähköpostitse viesti suoraan ylläpitäjälle osoitteella viuhka@turku.fi</p>
    <br>
    <form method="get" action="{{ url_for('service.list_service') }}">
    <button type="submit" class="btn button-info">Lista palveluista</button>
</form>
{% endblock %}