
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-20">
            <img width="100%" src="{{ url_for('static', filename='viuhka/media/alalogot.png') }}">
            </div>
          </div>
        </div>
        <div class="container" style="color:black;">
          <div class="row">
          <ul class="nav">
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="{{ url_for('index.info') }}" class="nav-link">
                  Tietoa sivustosta
                </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="https://www.turku.fi/tietosuoja" class="nav-link">
                Rekisteriseloste
                </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="https://www.turku.fi/tietosuoja" class="nav-link">
                Tietosuoja
                </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="{{ FORCE_SCRIPT_NAME }}/saavutettavuus/" class="nav-link">
                Saavutettavuus
                </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="mailto:viuhka@turku.fi" class="nav-link">
                Palaute
                </a>
                </div>
              </li>
              <li class="nav-item">
                <div class="col-sm-2">
                <a href="http://data.turku.fi/" class="nav-link">
                Avoin data
                </a>
                </div>
              </li>
          </ul>
          </div>
        </div>
    </footer>

