#id_classification {
    min-height: 20em;
    min-width: 400px;
}

#id_study, #id_service_path, #id_target, #id_immigration, #id_age_group,
#id_unemployment_duration {
    min-height: 8em;
    min-width: 400px;
}

#id_integration, #id_health {
    min-height: 5em;
    min-width: 400px;
}

#id_constraint, #id_address_extend, #id_organization, #id_content_contact {
    min-width: 600px;
}

.infodialog {
    position: absolute;
    top: 80px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: white;
}

.label {
    font-weight: bold;
}

.errorlist {
    color: red;
    font-weight: bold;
}

.button-info-viuhka {
    border-radius: 0;
    background: none;
    border: 2pt solid #00A97A;
    color: #00A97A;
    font-weight: bold;
    cursor: pointer;
}

.button-info:hover {
    background: #eeeeee;
}

.shepherd-content {
    max-width: 40em;
    border: 2pt solid dodgerblue;
}

.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-top.shepherd-element-attached-center .shepherd-content:before {
    border-bottom-color: dodgerblue
}

.shepherd-element.shepherd-theme-arrows.shepherd-element-attached-bottom.shepherd-element-attached-center .shepherd-content:before {
    border-top-color: dodgerblue
}

a.hit-item-title {
    font-size: 180%;
    color: #00A97A;
}

.hit-item {
    padding-bottom: 10pt;
    min-height: 8em;
    border-bottom: 1pt dotted darkgray
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.left {
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .1);
    padding: 5px 5px 10px 5px;
}

.right {
    box-shadow: 0 5px 3px 0 rgba(0, 0, 0, .1);
    padding: 5px 5px 5px 10px;
}

h1 {
    font-weight: bold !important;
    font-size: 360% !important;
    color: #00A97A !important;
}

h2 {
    font-size: 250% !important;
    color: #00A97A !important;
}

.column-title {
    font-size: 150%;
    color: #00A97A;
}

a:hover {
    text-decoration: underline;
}
.navi-link {
    color:rgba(255,255,255,.5);
}
.footer {
    max-height: 250px;
}
.sk-search-box {
    border-bottom: 2pt solid #00A97A;
}
a.navi-link:hover {
    color: white;
}
.wip {
    color: #00A97A;
    font-size: 80%;
    text-align: center;
    line-height: 20%;
}
.container.base {
    min-height: 600px;
    width:1400px;
}
.navbar-viuhka {
    font-size: 130%;
}
.page-text-center {
    width: 60% !important;
}
.list-text {
    padding-top: 40px;
}
.panel-heading  a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e080";
    float: left;
    transition: all 0.01s;
    margin-left: 15px;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
} 

.table-condensed {
  font-size: 12px;
}

.admin-box {
    font-size: 70px;
    margin: 3%;
    padding-right: 1%;
  }
  .center-text2 {
    text-align: center;
  }