{% extends 'splash/forms/base.html' %}
{% load staticfiles %}

{% block body_content %}
    <center><h2><label>Kiitos!</label></h2></center>
    <p>Palvelun tiedot siirtyvät Palveluviuhkan verkkosivuille, kun ylläpitäjä on tarkistanut ja hyväksynyt tiedot.</p>
    <p>Muistathan jatkossa käydä Palveluviuhkan verkkosivuilla päivittämässä palvelun tietoja, jos palvelussa tapahtuu
        muutoksia. Muista myös päivittää verkko-osoitteiden linkit, jos ne muuttuvat.</p>
    <p>Mikäli myöhemmin haluat poistaa palvelun tiedot kokonaan Palveluviuhkan verkkosivuilta, lähetä asiasta
        sähköpostitse viesti suoraan ylläpitäjälle osoitteella viuhka@turku.fi</p>
    <br>
<form method="get" action="/form/">
    <button type="submit" class="btn button-info">Lisää uusi palvelu</button>
</form>
{% endblock %}