{% extends 'admin/index.html' %}
{{ super() }}


{% block body_content %}
<div class="container">
    {% if amount() > 1 %}
    <h1>Löytyi {{ amount() }} käyttäjää.</h1>
    {% elif amount() == 1 %}
    <h1>Löytyi {{ amount() }} käyttäjä.</h1>
    {% else %}
    <h1>Käyttäjiä ei ole vielä lisätty.</h1>
    {% endif %}
    <div class="table-responsive text-nowrap">
        <td><a class="btn-info btn" href="{{ url_for('account.account', type='new') }}" role="button">Lisää käyttäjä</a></td>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Käyttäjänimi</th>
                    <th scope="col">Sähköposti</th>
                    <th scope="col">Käyttäjä luokka</th>
                    <th scope="col">Onko admin</th>
                </tr>
            </thead>
            <tbody>
                {% for account in accounts() %}
                <tr>
                    <th scope="row">{{ account.id }}</th>
                    <th>{{ account.username }}</th>
                    <th>{{ account.email }}</th>
                    <th>{{ account.rank().name() }}</th>
                    <th>{{ account.is_staff() }}</th>
                    <th>
                    <td>
                        <a href="{{ url_for('account.account', type='edit', id=account.id) }}">
                            <i class="tim-icons icon-pencil"></i>
                        </a>
                    </td>
                    {% if current_user.rank().level >= 2 and account.id != current_user.id %}
                    <td>
                        <a href="{{ url_for('account.account', type='delete', id=account.id) }}">
                            <i class="tim-icons icon-trash-simple"></i>
                        </a>
                    </td>
                    {% endif %}
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}